@import "./node_modules/inter-ui/inter.css";
@import "../themes/nord/theme.css";

:root {
  --main-font-family: "Inter var experimental";
  --main-color: var(--theme-white);
  --main-background-color: var(--theme-black);
  --main-grid-gap: min(0.25vh, 0.25vw);

  --main-height: 1fr;
  --footer-height: 8vh;
}

* {
  box-sizing: border-box;
  contain: content;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  user-select: none;
}

html {
  font-family: var(--main-font-family);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--main-font-family);
  }
}

body {
/* letter-spacing: 0.1em; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--main-height) var(--footer-height);
  grid-template-areas:
    'main'
    'footer'
  ;
  gap: var(--main-grid-gap);

  padding: min(0.5vh, 0.5vw);

  width: 100vw;
  height: 100vh;

  color: var(--main-color);
  background-color: var(--main-background-color);

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  font-variation-settings: "wght" 400, "slnt" 0;
  /* letter-spacing: -0.022em; */
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07", "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  height: 100%;

  pointer-events: all;
  user-select: auto;

  padding: 0.125vh 0.125vw;
}

footer {
  grid-area: footer;
}

svg {
  pointer-events: none !important;
}

button {
  background-color: var(--theme-light_gray_bright);
  border: none;
  padding: max(1vh, 1vw);
}

button:active {
  background-color: var(--theme-black);
}