@import "./node_modules/inter-ui/inter.css";
@import "../themes/nord/theme.css";

:root {
  --main-font-family: "Inter var experimental";
  --main-color: black;
  --main-background-color: hsl(0deg 0% 97%);
  --main-grid-gap: min(0.25vh, 0.25vw);

  --header-height: 4vh;
  --footer-height: 4vh;
}

* {
  box-sizing: border-box;
  contain: content;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  user-select: none;
}

html {
  font-family: var(--main-font-family);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--main-font-family);
  }
}

body {
/* letter-spacing: 0.1em; */
  display: grid;
  grid-template-columns: 12vw 1fr 3vw;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    '. header .'
    'left main right'
    '. footer .'
  ;
  gap: var(--main-grid-gap);

  padding: min(0.5vh, 0.5vw);

  width: 100vw;
  height: 100vh;

  color: var(--main-color);
  background-color: var(--main-background-color);

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  font-variation-settings: "wght" 400, "slnt" 0;
  /* letter-spacing: -0.022em; */
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07", "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 100%;
  height: 100%;

  pointer-events: all;
  user-select: auto;
}

section#left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: min(1vh, 1vw);
}

section#right {
  grid-area: right;
}

footer {
  grid-area: footer;
}